<div class="wrapper">
    <h1 class="title"><%= title %></h1>
    <h2 class="topics-title">Topics</h2>
    <ul class="topics-list">
      <li class="topics__item">
        <a href="/topics/gaming" class="topics__item__link">Gaming</a>
      </li>
      <li class="topics__item">
        <a href="/topics/movies" class="topics__item__link">Movies</a>
      </li>
      <li class="topics__item">
        <a href="/topics/sports" class="topics__item__link">Sports</a>
      </li>
    </ul>
    <a href="/new-message?topic=<%= topic %>" class="add-message-btn">Create Post</a>
    <section class="messages">
      <ul class="messages__list">
        <% for (let message of messages) { %>
          <li class="messages__list__item">
            <h3 class="messages__list__item__author"><%= message.name %></h3>  
            <p class="messages__list__item__para"><%= message.message %></p>
            <p class="messages__list__item__date"><%= message.createdAt %></p>
          </li>
        <% } %>
      </ul>
    </section>
  </div>